<footer class="footer">
        <a class="footer-logo" href="/">
          <img src="/images/frank-logo.png" alt="Frank Logo"/>
        </a>
        <nav>
          <ul class="footer-nav nav-links">
            {% include nav-links.html %}
          </ul>
        </nav>
        <h3>Beautiful websites <span>it's a Frank thing</span></h3>
        <h2>.</h2>
              <ul class="social-list">
                <li>
                  <a href="https://au.linkedin.com/" class="social-link" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                </li>
                <li>
                  <a href="https://twitter.com/?lang=en" class="social-link" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                </li>
                <li>
                  <a href="https://github.com/frankiannelli" class="social-link" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                </li>
              </ul>
                 </footer>